    <style>
        body{
            margin: 0 auto;
            font-family: 'PT Sans', sans-serif;
            background-color: rgb(248, 248, 248);
        }
        h1,h2,h3,h4,h5,h6{
            font-family: 'Montserrat', sans-serif;
        }
        h1{
            display: block;
            font-size: 1.5em;
            margin-block-start: 0.83em;
            margin-block-end: 0.83em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;

        }
        h2{
            display: block;
            font-size: 1.17em;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
        }
        h3{
            display: block;
            font-size: 1em;
            margin-block-start: 1.33em;
            margin-block-end: 1.33em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
        }
        h4{
            display: block;
            font-size: 0.83em;
            margin-block-start: 1.67em;
            margin-block-end: 1.67em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
        }
        h5{
            display: block;
            font-size: 0.67em;
            margin-block-start: 2.33em;
            margin-block-end: 2.33em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;

        }
        *{
            box-sizing: border-box;
        }
        header{
            width: 100%;
            height: auto;
        }
        ul{
            padding: 0;
            list-style-type: none;
        }
        .wrapper{
            max-width: 600px;
            /*width: 425px;
            height: 604px;*/
            margin: 0 auto;
            padding: 0 10px;
            background-color: skyblue;
        }
        .wrapper img{
            margin-top: 20px;
            max-width: 100%;
            height: auto;
            display: block;
            margin-right: auto;
            margin-left: auto;
        }
        .logo{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 600px;
            padding: 10px;
        }
        .hero{
            padding-top: 30px;
            text-align: center;
        }
        .hero h1{
            margin-top: 20px; 
            max-width: 100%; 
            height: auto; 
            display: block; 
            margin-left: auto; 
            margin-right: auto;
        }
        .hero p{
            text-align: justify;
        }
        .grid-2{
        display: grid; 
        grid-template-columns: auto auto; 
        font-weight: bold;                                              
        }
        .icon-box{
        display: inline-flex; 
        margin-left: 15px;
        }
        .icon-box img{
        margin: 15px 5px; 
        width: 25px; 
        height: 25px;
        }
        .icon-box-center{
        background-color: white; 
        text-align: center; 
        border-radius: 10px; 
        padding: 10px; 
        margin: 15px;
        }
        .left{
            display: flex;
            justify-content: left;
            align-items: center;
        }
        .center{
        display: flex;
        justify-content: center;
        align-items: center;
        }
        .right{
            display: flex;
            justify-content: right;
            align-items: center;
        }
        .button-primary{
            margin: 50px;
            padding: 15px;
            background-color: white;
            border-radius: 5px;
            border: 2px solid #16b6;
            font-size: 18px;
        }
        .button-primary a{
            color: black;
            text-decoration: none;
            font-weight: bold;
        }
        .button-primary img{
            width: 50px;
            height: 50px;
        }
        .box image img{
            margin-top: 20px;
            max-width: 100%;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .icon-4{
            display: grid;
            grid-template-columns: 35% 65%;
            background-color: aquamarine;
            border-radius: 10px;
            box-shadow: 2px 2px 3px violet;
            margin-bottom: 10px;
        }     
        .icon-4 img, .icon-5 img, .icon-6 img, .icon-7 img{
            margin: 10px;
            width: 70px;
            height: 70px;
        }
        .icon-5{
            display: grid;
            grid-template-columns: 35% 65%;
            background-color: cadetblue;
            border-radius: 10px;
            box-shadow: 2px 2px 3px thistle;
            margin-bottom: 10px;
        }
        .icon-6{
            display: grid;
            grid-template-columns: 35% 65%;
            background-color: cornflowerblue;
            border-radius: 10px;
            box-shadow: 2px 2px 3px hotpink;
            margin-bottom: 10px;
        }
        .icon-7{
            display: grid;
            grid-template-columns: 35% 65%;
            background-color: darkcyan;
            border-radius: 10px;
            box-shadow: 2px 2px 3px slateblue;
            margin-bottom: 10px;
        }
        .short-desc{
            display: block;
            background-color: #e7f8e8;
            border-radius: 10px;
            margin-bottom: 10px;
            padding: 15px;
            text-align: center;
            box-shadow: 2px 2px 3px;
        }
        .short-desc-2{
            display: block;
            margin-bottom: 10px;
            padding: 15px;
            text-align: justify;
            line-height: 1,7em;
        }
        .short-desc-2 h3{
            text-align: center;
        }
        .title-product{
            margin-top: 50px;
            text-align: center;
            border-bottom: 2px solid rgb(178, 248, 255);
        }
        .title-product-2{
            margin-top: 50px;
            text-align: center;
        }
        .box-product{
            text-align: center;
        }
        .box-product-img{
            max-width: 600px;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
        }
        .box-product-desc{
            background-color: #c2efff;
            padding: 10px;
            border-radius: 10px;
        }
        .slideshow-container {
            max-width: 1000px;
            position: relative;
            margin: auto;
        }
        .mySlides {
            display: none
        }img {
            vertical-align: middle;
        }
        
        /* Next & previous buttons */
        .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: grey;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        }

        /* Position the "next button" to the right */
        .next {
        right: 0;
        border-radius: 3px 0 0 3px;
        }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
        }

        /* Caption text */
        .text {
        color: black;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
        }

        /* Number text (1/3 etc) */
        .numbertext {
        color: grey;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
        }

        /* The dots/bullets/indicators */
        .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        }

        .active, .dot:hover {
        background-color: #717171;
        }

        /* Fading animation */
        .fade {
        animation-name: fade;
        animation-duration: 1.5s;
        }

        @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
        }

        /* On smaller screens, decrease text size */
        @media only screen and (max-width: 300px) {
        .prev, .next,.text {font-size: 11px}
        }
        .footer {
        text-align: center;
        padding: 3px;
        background-color: white;
        color: black;
        width: 500px;
        height: 50px;
        font-weight: bold;
        position: relative;
        animation: mymove 5s infinite;
        }
        @keyframes mymove {
        from {left: 0px;}
        to {left: 80px;}
        }
        .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        }
        .active, .accordion:hover {
        background-color: #ccc; 
        }
        .panel {
        padding: 0 18px;
        display: none;
        background-color: white;
        overflow: hidden;
        }
        .panel img{
            width: 40px;
            height: 40px;
        }

    </style>
