<style>
body {
    margin: 0 auto;
    font-family: 'PT Sans', sans-serif;
    background-color: rgb(211, 211, 211);
}

* {
    box-sizing: border-box;
}

header {
    width: 100%;
    height: auto;
}

ul {
    padding: 0;
    list-style-type: none;
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 10px;
    background-color: rgb(209, 209, 209);
}

/*HEADER*/
.header-1 {
    display: block;
    width: 200px;
    padding: 10px;
}

.header-2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 10px;
}

.header-3 {
    display: block;
    width: 200px;
    padding: 10px;
    align-self: flex-end;
    float: right;
}


</style>